
# Created by https://www.toptal.com/developers/gitignore/api/react
# Edit at https://www.toptal.com/developers/gitignore?templates=react

### react ###
.DS_*
*.log
logs
**/*.backup.*
**/*.back.*

frontend/node_modules
frontend/build

*.sublime*

psd
thumb
sketch

### flask ###
__pycache__
.idea

### password """
password.py

### storage
chat_storage
sprite_storage
bookmarker_storage
static

# End of https://www.toptal.com/developers/gitignore/api/react